@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Sans Serif';
        src: url(../../public/fonts/inter/Inter-Regular.ttf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Sans Serif';
        src: url(../../public/fonts/inter/Inter-Bold.ttf);
        font-weight: 700;
    }

    @font-face {
        font-family: 'Serif';
        src: url(../../public/fonts/lora/Lora-Regular.ttf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Serif';
        src: url(../../public/fonts/lora/Lora-Bold.ttf);
        font-weight: 700;
    }

    @font-face {
        font-family: 'Mono';
        src: url(../../public/fonts/inconsolata/Inconsolata-Regular.ttf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Mono';
        src: url(../../public/fonts/inconsolata/Inconsolata-Bold.ttf);
        font-weight: 700;
    }

    .custom-marker::before {
        content: '\2022';
        color: #A445ED;
        display: inline-block;
        width: 5px;
        height: 5px;
        line-height: 1.5rem;
    }

    .icon-play-hoverEffects:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    .icon-play-hoverEffects:hover path {
        fill: #FFFFFF;
    }

    .icon-play-hoverEffects:hover circle {
        opacity: 1;
    }
}